@keyframes slide-down {
  0% {
    transform: translateY(-100%);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
  
@mixin slide-down($duration) {
  animation: slide-down $duration ease-in-out both;
}

.slide-down {
	@include slide-down(1s)
}